<mat-drawer-container class="drawer-style">
	<mat-drawer mode="side" position="end" opened style="width: 20%;">
		<app-chat-window></app-chat-window>
	</mat-drawer>
	<mat-drawer-content>
		<h1 style="text-align: center;">Lobby #{{lobbyId}}</h1>

		<!-- CONTENIDO PRINCIPAL -->
		<div style="margin: 1rem 7rem">

			<!-- SI EL JUEGO AÚN NO HA COMENZADO -->
			<div *ngIf="!gameStarted">
				<!-- LISTA DE JUGADORES -->
				<mat-list role="list">
					<div mat-subheader>Waiting for players to join... currently {{table.Players.length}}/8</div>
					<mat-list-item role="listitem" *ngFor="let player of table.Players">
						<mat-icon mat-list-icon *ngIf="!player.isDealer">person</mat-icon>
						<mat-icon mat-list-icon *ngIf="player.isDealer">star</mat-icon>
						<div mat-line>{{player.Name}}</div>
					</mat-list-item>
				</mat-list>
				<!-- APARTADO DE BOTONES -->
				<div fxLayout="row" fxLayoutAlign="center center">
					<button mat-raised-button color="primary" (click)="AddFakePlayer()">ADD PLAYER</button>
					<button mat-raised-button color="accent" (click)="StartNewGame()"
						[disabled]="table.Players.length < 3 || myPlayer.isHost">START GAME</button>
				</div>
				<br>
				<div>
					<app-card></app-card>
				</div>
			</div>

			<!-- SI EL JUEGO YA COMENZÓ -->
			<div *ngIf="gameStarted">
				<!-- LISTA DE JUGADORES CONECTADOS -->
				<div>
					<mat-list fxLayout="row" fxLayoutAlign="center center">
						<mat-list-item *ngFor="let player of table.Players" fxLayout="row" fxLayoutAlign="space-evenly center">
							<mat-icon mat-list-icon *ngIf="player.isDealer" style="color: rgb(224, 55, 55);">star</mat-icon>
							<mat-icon mat-list-icon *ngIf="table.PlayerTurnId === player.Id" style="color: rgb(40, 214, 69);">forward
							</mat-icon>
							<div mat-line [ngStyle]="{'font-weight': (table.PlayerTurnId === player.Id) ? '700' : '400'}">
								{{player.Name}}</div>
						</mat-list-item>
					</mat-list>
					<br>
					<button mat-raised-button color="primary" (click)="NextPlayer()">NEXT PLAYER</button>
				</div>

			</div>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
